body {
	margin: 0;
	padding: 0;
}

.App {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.questionParagraph:hover {
	cursor: pointer;
}

#questionGroups {
	margin: 10px;
}

.groupsButton {
	margin: 0 5px;
}

.groupsButtonFilled {
	margin: 0 5px;
	background-color: aqua;
}
